:root {
    --main-dark: #232323;
    --main-light: #fff6ec;
    --highlight: #4e88ab;
    --highlight-hover: #b1bd7d;
    --main-darkred: #9b321d;
  }
  
  body {
      background-color: var(--main-dark);
  }

  form {
    color: var(--main-light);
    font-size: 1.8rem;
  }

  .formError {
    color: #cc3c1f;
    font-size: 1.8rem;
  }
  
  main {
    display: flex;
    justify-content: space-between;
  }

  a,
  #btn-logout {
      color: var(--highlight);
  }
  
  .welcome {
      color: var(--main-light);
      text-transform: uppercase;
  }
  
  a:hover,
  #btn-logout:hover {
      color: var(--highlight-hover);
  }
  
  html {
    /* main font-size of 10px: */
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    color: var(--main-dark);
  }
  
  .header-main {
      background-image: url(../img/rijksmuseum-JGvanCaspel-1912-1920px.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: end;
  }
  
  .blog-title {
      color: var(--main-light);
      text-shadow: 0 0 8px rgba(53, 29, 21, 0.4);
      margin-bottom: 6px;
      z-index: 100;
  }
  
  .blog-title :nth-child(1) {
      font-size: 1.8rem;
      font-weight: 500;
      margin-left: 4px;
  }
  
  .blog-title :nth-child(2) {
      font-family: 'Oswald', sans-serif;
      font-size: 10.5rem;
      font-weight: 300;
      line-height: 0.8;
  }
  
  .blog-title-black {
      position: absolute;
      height: 86px;
      width: 100%;
      background-color: rgba(35, 35, 35, 0.3);
  }
  
  .nav-header {
      position: sticky;
      top: 0;
      width: 100%;
      height: 60px;
      padding: 0 40px;
      background-color: var(--main-dark);
      border-bottom: 1px solid var(--highlight);
      display: flex;
      justify-content: space-between;
      z-index: 1000;
  }
  
  .nav-header ul {
      display: flex;
      align-items: center;
      /* justify-content: space-between; */
      list-style: none;
      font-family: 'Alegreya Sans SC', sans-serif;
      font-size: 1.8rem;
  }
  
  .nav-header-home {
      width:fit-content;
      margin-right: 30px;
  }
  
  .nav-header-home li {
      margin-right: 25px;
      min-width: fit-content;
  }
  
  .nav-header-login {
      width: fit-content;
  }
  
  .nav-header-login li {
      margin-left: 25px;
      min-width: fit-content;
  }
  
  #btn-logout {
      background-color: transparent;
      border-style: none;
      font-family: inherit;
      font-size: inherit;
      cursor: pointer;
  }
  
  .flash-message {
      color: #fff;
      background-color: var(--highlight);
      padding: 5px;
      border-radius: 8px;
      font-size: 1.8rem;
      position: fixed;
      bottom: 0;
      right: 0;
  }