.paginate-cards-container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.cards-main-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: calc(var(--width-window-small) - var(--width-sidebar));
    width: calc(100vw - var(--width-sidebar));
}

.card-container {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    width: 375px;
    height: auto;
    background-color: var(--main-light);
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
}

@media screen and (max-width: 1429px) {
    .card-container {
        width: 425px;
    }
}

@media screen and (max-width: 1114px) {
    .card-container {
        width: 500px;
    }
}

.card-image-container {
    background-color: #b1bd7d;
    height: 150px;
}

.card-image-container img {
    object-fit: cover;
    width: 100%;
    height:inherit;
}

.card-text-container {
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title a {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.6rem;
    line-height: 1;
}

.card-body {
    font-size: 2.0rem;
    margin-top: 15px;
}

.card-name {
    color: #7a7a7a;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.9rem;
    font-weight: 500;
    text-transform: lowercase;
    margin-top: 15px;
}

.card-datetime {
    color: var(--main-darkred);
    font-size: 1.6rem;
    font-family: 'Archivo Black', sans-serif;
    text-transform: lowercase;
}

.card-category-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
}

.card-category-label {
    font-size: 1.6rem;
    margin-right: 5px;
    font-weight: 700;
}

.card-category-label span {
    color: var(--main-darkred);
}

.paginate-index {
    color: #7a7a7a;
    font-size: 1.6rem;
    padding: 10px;
}