.post-main-box {
    margin: 20px;
}

.article-full {
    background-color: var(--main-light);
    padding: 20px;
    font-size: 1.8rem;
}

.post-comment-box {
    background-color: var(--main-light);
    padding: 20px;
    font-size: 1.8rem;
}