.sidebar-container {
    min-width: var(--width-sidebar);
    max-width: var(--width-sidebar);
    min-height: calc(100vh - 260px);
    border-right: 1px dotted var(--highlight);
}

.sidebar-sticky {
    position: sticky;
    top: 75px;
    margin-left: 20px;
}